.logo {
    height: 80px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.website-title {
  background-color: rgba(255, 0, 0, 0.403);
}


/* Top Navigation Bar */
/* .top-navigation-bar {
    display: flex;
    background-color: #24ABC4;
    overflow: hidden;
    justify-content: space-between;
} */

.top-navigation-bar-links {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 0, 0, 0.468);
}

.top-navigation-bar a {
    border: none;
    overflow: hidden;
}

.nav-button {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 0px 10px 0px 10px;
    height: 100%;
    border: none;
    transition: 300ms;
}

.nav-button:hover {
    background-color: rgb(203, 203, 203);
}

/* Main Container */
.main-container {
    padding: 0px 10px 0px 10px;
}

.search-icon {
    height: 50px;
}