body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
    height: 100px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.website-title {
  background-color: rgba(255, 0, 0, 0.403);
}

.top-navigation-bar {
    display: flex;
    background-color: rgba(0, 161, 0, 0.294);
    overflow: hidden;
    justify-content: space-between;
}

.top-navigation-bar-links {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 0, 0, 0.468);
}

.top-navigation-bar a {
    border: none;
    overflow: hidden;
}

.nav-button {
    cursor: pointer;
    background-color: antiquewhite;
    height: 100%;
    border: none;
    transition: 300ms;
}

.nav-button:hover {
    background-color: rgb(195, 183, 167);
}